div.homepage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "dash dash dash" "leftNav main action";
  grid-template-rows: 50px auto;
  grid-template-columns: 5fr 20fr 2fr;
  position: relative;
  background-color: var(--clr-blk);
  /* gap: 0.2rem; */

  > main {
    grid-area: main;
    padding: 1rem 2rem;
  }
}

div.notMain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--clr-blk);
}
