@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;700;900&display=swap");

:root {
  /* colors */
  --clr-blk: #141414;
  --clr-lt-blk: #181818;
  --clr-gray: #1f1f1f;
  --clr-lt-gray: #636363;
  --clr-accent: #1b81b8;
  --clr-lt-accent: #40a7d3;
  --clr-white: #fff;
  --clr-red: #ec4343;
  --clr-lt-blu: #2c3539;

  /* font weights */
  --lt: 100;
  --rg: 300;
  --md: 500;
  --bd: 700;
  --xbd: 900;

  font-family: "Lexend", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

button {
  font-family: "Lexend", sans-serif;
}

::-webkit-scrollbar {
  position: absolute;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-blk);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-lt-accent);
}
